body {
  background-color: #EDF1D6;
}

hr {
  border-style: none;
  border-top-style: dotted;
  width: 4%;
  border-width: 5px;
  border-color: grey;
}

img {
  border-radius: 200%;
  width: 20%
}

h1 {
  color: #66BFBF;
}

h2 {
  color: #66BFBF;
}

h3 {
  color: #66BFBF;
}
